edit profile
<br>
<form method="POST" action="/profile/<%=user%>/edit?_method=PUT">
    <label for="city">City</label>
    <select id="city" name="city">
        <option value="Minneapolis">Minneapolis, MN</option>
        <option value="St.Louis">St.Louis ,MI</option>
        <option value="New York">New York ,NY</option>
        <option value="Los Angelas">Los Angelas ,CA</option>
        <option value="Washington D.C.">Washington D.C.</option>
        <option value="Chicago">Chicago, IL</option>
        <option value="Denver">Denver ,CO</option>
        <option value="Las Vegas">Las Vegas, NV</option>
    </select>

    <label for="company">Company</label>
    <select id="company" name="company">
        <option value="amazon">Amazon</option>
        <option value="fedex">Fedex</option>
        <option value="uber">Uber</option>
        <option value="ups">Ups</option>
    </select>

    <button>submit changes</button>

</form>
<a href="/profile/1">Back</a>