edit profile
<br>
<form method="POST" action="/profile/<%=user.id%>/edit?_method=PUT">
    <label for="city">Location</label>
    <select id="city" name="city">
        <%if(user.city === 'Minneapolis'){%>
            <option value="Minneapolis" selected>Minneapolis, MN</option>
            <%}else{%>
                <option value="Minneapolis">Minneapolis, MN</option>
                <%}%>
        <%if(user.city === 'St.Louis'){%>
            <option value="St.Louis" selected>St.Louis, MI</option>
            <%}else{%>
                <option value="St.Louis">St.Louis, MI</option>
                <%}%>
        <%if(user.city === 'New York'){%>
            <option value="New York" selected>New York, NY</option>
            <%}else{%>
                <option value="New York">New York, NY</option>
                <%}%>
        <%if(user.city === 'Los Angelas'){%>
            <option value="Los Angelas" selected>Los Angelas, CA</option>
            <%}else{%>
                <option value="Los Angelas">Los Angelas, CA</option>
                <%}%>
        <%if(user.city === 'Washington D.C.'){%>
            <option value="Washington D.C." selected>Washington D.C.</option>
            <%}else{%>
                <option value="Washington D.C.">Washington D.C.</option>
                <%}%>
        <%if(user.city === 'Chicago'){%>
            <option value="Chicago" selected>Chicago, IL</option>
            <%}else{%>
                <option value="Chicago">Chicago, IL</option>
                <%}%>
        <%if(user.city === 'Denver'){%>
            <option value="Denver" selected>Denver ,CO</option>
            <%}else{%>
                <option value="Denver">Denver ,CO</option>
                <%}%>
        <%if(user.city === 'Las Vegas'){%>
            <option value="Las Vegas" selected>Las Vegas, NV</option>
            <%}else{%>
                <option value="Las Vegas">Las Vegas, NV</option>
                <%}%>      
    </select>

    <label for="company">Company</label>
    <select id="company" name="company">
        <%if(user.company === 'amazon'){%>
            <option value="amazon" selected>Amazon</option>
            <%}else{%>
                <option value="amazon">Amazon</option>
                <%}%>
        <%if(user.company === 'fedex'){%>
            <option value="fedex" selected>Fedex</option>
            <%}else{%>
                <option value="fedex">Fedex</option>
                <%}%>
        <%if(user.company === 'uber'){%>
            <option value="uber" selected>Uber</option>
            <%}else{%>
                <option value="uber">Uber</option>
                <%}%>
        <%if(user.company === 'ups'){%>
            <option value="ups" selected>Ups</option>
            <%}else{%>
                <option value="ups">Ups</option>
                <%}%>
    </select>

    <label for="email">email</label>
    <input type="email" name="email" id="email" value="<%=user.email%>">

    <button>submit changes</button>

</form>
<a href="/profile/1">Back</a>