<div class="signup-body">
    <h2 class="signup-header">Sign In</h2>
    <form class="signup-container" method="POST" action="/signin">
        <label class="signform-label" for="username">Username</label>
        <input class="signup-input" type="text" name="username" id="username">
    
        <label class="signform-label" for="password">Password</label>
        <input class="signup-input" type="password" name="password" id="password">
        <button class="signin-button" type="submit">Submit</button>
    </form>
</div>