<div class="primary-nav">
    <a href="../meditation/feelings"><div class="nav-piece">
        <i class="fa s fa-spa"></i>
        <p>Meditation</p>
    </div></a>
    <a href="../pr ofile/1"><div class="nav-piece">
        <i class="fas fa-user-circle"></i>
        <p>Profile</p>
    </div></a>
    <a href="../boards/"><div class="nav-piece">
        <i class="fas fa-comment-dots"></i>
        <p>Message Board</p>
    </div></a>
</div>