<div class="primary-nav">
    <a href="../meditation/"><div class="nav-piece">
        <i class="fa s fa-spa"></i>
        <p>Meditation</p>
    </div></a>
    <a href="/profile/<%=user.id%>"><div class="nav-piece">
        <i class="fas fa-user-circle"></i>
        <p>Profile</p>
    </div></a>
    <a href="/boards/<%=boards[0]._id%>"><div class="nav-piece">
        <i class="fas fa-comment-dots"></i>
        <p>Message Board</p>
    </div></a>
</div>