<div class="index-body">
  <div class="logo-container">
    <img class="logo" src="/images/Go_5.png" alt="logo">
  </div>
  <div class="screen"></div>
  <div class=button-container>
    <button class="signin-button"><a href="/signin">Sign In</a></button>
    <button class="signup-button"><a href="/signup1">Sign Up</a></button>
  </div>
</div>
