<h1>Calm On The Go</h1>

<div class="logo-container">
  <img class="logo" src="/images/Go_5.png" alt="">
</div>

<div class=button-container>
  <button><a href="/signin">Sign In</a></button>
  <button><a href="/signup1">Sign Up</a></button>
</div>
