<h1>Calm On The Go</h1>

<div class="logo-container">
  <img class="logo" src="/images/Go_5.png" alt="">
</div>

<div class=button-container>
<<<<<<< HEAD
  <button><a href="/login">Sign In</a></button>
  <button><a href="/signup1">Sign Up</a></button>
</div>
=======
  <button class="sign-button">Sign In</button>
  <button class="sign-button">Sign Up</button>
</div>
>>>>>>> main
