<h1>Calm On The Go</h1>

<div class="logo-container">
  <img class="logo" src="/images/Go_5.png" alt="">
</div>

<div class=button-container>
  <button class="sign-button">Sign In</button>
  <button class="sign-button">Sign Up</button>
</div>
