* {
  /* border: red 1px solid; */
}

body {
  height: 1000px;
  width: 400px;
  border: slategrey 1px solid;
}

/* ==========Index============= */
.logo-container {
  display: flex;
  justify-content: center;
}

.logo {
  width: 50%;
}

h1 {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 0;
}

.button-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.sign-button {
  font-family: 'Roboto', sans-serif;
  font-size: large;
  width: 75%;
  margin: 5px 0;
  padding: 10px;
  border-radius: 10px;
}

.sign-button:hover {
  background-color: rgb(142, 142, 142);
}
/* ================================ */

.signup-container {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signup-header {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  margin-bottom: 15px;
}

/* .icon-truck {
  size: 20px;
} */

.truck {
  width: 30px;
  position: relative;
  z-index: 2;
}

.progress-container {
  display: flex;
  align-items: center;
  /* background-color: rgb(238, 238, 238); */
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 20px;
  border-radius: 10px;
}

.progress-one {
  /* position: absolute; */
  height: 15px;
  width: 33.3%;
  background-color: rgb(22, 216, 42);
  border-radius: 10px;
  z-index: 1;
}

.progress-two {
  height: 15px;
  width: 66.6%;
  background-color: rgb(22, 216, 42);
  border-radius: 10px;
}

.progress-three {
  height: 15px;
  width: 95%;
  background-color: rgb(22, 216, 42);
  border-radius: 10px;
}

.signup-input {
  background-color: rgb(220, 220, 220);
  border: none;
  height: 25px;
  width: 75%;
  margin: 5px 0 20px 0;
  border-radius: 5px;
}

.signup-button {
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
}
/* ==========Signup1============= */

.signform-label {
  /* justify-content: left; */
}

/* ================================ */

/* ==========Signup2============= */
.signup-dropdown {
  background-color: rgb(220, 220, 220);
  border: none;
  height: 25px;
  width: 75%;
  margin: 5px 0 20px 0;
  border-radius: 5px;
}
/* ================================ */
