<div class="breathe-container">
  <div class="heart"></div>
  <div class="heart-screen"></div>
  <div class="breathe-progress-container">
    <div class="breathe-progress"></div>
  </div>

  <div class="meter">
    <span style="width:80%;"><span class="progress"></span></span>
</div>
<a href="/meditation/spotify" >Move On To Playlist</a>
</div>
<!--<script>
  let progress = 0
  function barAnim(){
    console.log('animate')
    progress+=1.7
    const breathProgressMeter = document.querySelector('.breathe-progress')
    breathProgressMeter.style.width =`${progress}%`
}
setInterval(barAnim(),6000);
console.log('script')
</script>-->
<%- include(`../partials/nav`) %>