<div class="breathe-container">
  <div class="heart"></div>
  <div class="heart-screen"></div>
  <div class="breathe-progress-container">
    <div class="breathe-progress"></div>
  </div>

  <div class="meter">
    <span style="width:80%;"><span class="progress"></span></span>
</div>
</div>
<%- include(`../partials/nav`) %>