<div class="meditation-body">
    <h3>Calm on the go ritual</h3>
    <img src="/images/meditation.png">
    <h3>Good afternoon, [User]</h3>
    <div class="feelings-container">
        <p>How are you feeling today?</p>
        <i class="far fa-frown"></i>
        <i class="far fa-angry"></i>
        <i class="far fa-meh"></i>
        <i class="far fa-smile"></i>
        <i class="far fa-laugh-beam"></i>
    </div>
</div>
