<div class="meditation-body">
    <h3 class="feelings-title">Calm on the go ritual</h3>
    <img src="/images/meditation.png">
    <h3>Greetings, <%=user.username%></h3>
    <div class="feelings-container">
        <h4>How are you feeling today?</h4>
        <div class="feelings-row faces">
            <a href = "/meditation/breathe"><i class="far fa-angry"></i></a>
            <a href = "/meditation/breathe"><i class="far fa-frown"></i></a>
            <a href = "/meditation/breathe"><i class="far fa-meh"></i></a>
            <a href = "/meditation/breathe"><i class="far fa-smile"></i></a>
            <a href = "/meditation/breathe"><i class="far fa-laugh-beam"></i></a>
        </div>
        <div class="feelings-row">
            <p>Unhappy</p>
            <p>Happy</p>
        </div>
    </div>
</div>
<%- include(`../partials/nav`) %>
