<div class="meditation-body">
    <h3 class="feelings-title">Calm on the go ritual</h3>
    <img src="/images/meditation.png">
    <h3>Good afternoon, [User]</h3>
    <div class="feelings-container">
        <h4>How are you feeling today?</h4>
        <div class="feelings-row faces">
            <i class="far fa-angry"></i>
            <i class="far fa-frown"></i>
            <i class="far fa-meh"></i>
            <i class="far fa-smile"></i>
            <i class="far fa-laugh-beam"></i>
        </div>
        <div class="feelings-row">
            <p>Unhappy</p>
            <p>Happy</p>
        </div>
    </div>
</div>
<%- include(`../partials/nav`) %>
