sign up 3
<form method="POST" action="/signup3">
    <label for="username">username</label>
    <input type="text" name="username" id="username">

    <label for="password">password</label>
    <input type="password" name="password" id="password">
    <button>continue</button>

</form>