<h1 class="signup-header">Sign Up</h2>

<div class="progress-container">
  <div class="progress-three"></div>
  <img class="truck3" src="/images/truck.png" alt="">
</div>

<form class="signup-container" method="POST" action="/signup3">
    <label class="signform-label" for="username">Create your username</label>
    <input class="signup-input" type="text" name="username" id="username">

    <label for="password">Create your password</label>
    <input class="signup-input" type="password" name="password" id="password">
    <button class="signup-button">Continue</button>

</form>