sign up 1
<form method="POST" action="/signup1">
    <label for="name">name</label>
    <input type="text" name="name" id="name">

    <label for="email">email</label>
    <input type="email" name="email" id="email">
    <button>continue</button>

</form>