show board
<br>
and show post index
<br>
<a href="/board/new">New Board</a>
<a href="/board/1/edit">Edit Board</a>
<br>
<a href="/posts/new">New Post</a>
<a href="/posts/1/edit">Edit Post</a>
<br>
<%- include(`../partials/nav`) %>