<h2>New Post</h2>
<form action="/posts" method="POST">
    <div>
        <label>Title</label>
        <input type="text" name="name" value="<%= post.title %>">
        <label>Content</label>
        <input type="text" name="category" value="<%= post.content %>">
        <label>Board</label>
        <label>Publish Date</label>
        <input type="date" name="date_created" 
            value="<%= post.date_created == null ? '' : post.date_created.toISOString().split('T')[0] %>">
    </div>
    <div>
        <a href="/boards/1">Cancel</a>
        <button type="submit">Create</button>
    </div>
</form>